:root {
    --c-main: #513600;
    --c-subtext: #6B4F1C;
    --c-hover: #D4A373;
    --c-accent: #F9F3E3;
    --c-purewhite: #FFFFFF;
}

.colour-main {
    color: var(--c-main);
}

.colour-subtext {
    color: var(--c-subtext);
}

.colour-hover {
    color: var(--c-hover);
}

.colour-accent {
    color: var(--c-accent);
}

.colour-purewhite {
    color: var(--c-purewhite);
}

.figtree {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.georgia {
    font-family: Georgia, serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.extrabold {
    font-weight: 800;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #FFFFFF, var(--c-accent));
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center 70%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 100%);
}

.hero-tagline {
    position: absolute;
    top: 17.5%;
    left: 5%;
}

.hero-tagline > span {
    display: block;
    color: var(--c-accent);
    text-align: left;
    font-size: 2.55em;
    text-shadow: 0 4px 10px var(--c-main);
    letter-spacing: 0.03em;
}

.fixed-header {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 96.1%;
    background-color: var(--c-accent);
    z-index: 1000;
    border-radius: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fixed-header > h1 {
    font-size: 2.2rem;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.fixed-header > a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.fixed-header > a > div {
    display: flex;
    align-items: center;
}

#decor-left {
    max-width: 4%;
    height: auto;
    position: fixed;
    left: -2.3em;
    top: 0.2em;
}

#decor-right {
    max-width: 4%;
    height: auto;
    position: fixed;
    right: -2.2em;
    bottom: 0.1em;
    rotate: 180deg;
}

.logoBR {
    height: 4.6em;
    width: auto;
    display: inline-block;
    margin: 15px 10px 15px 15px;
    vertical-align: middle;
    padding-left: 0.9em;
}

.nav-container {
    display: flex;
    gap: 4em;
    align-items: center;
    padding-right: 2.4em;
    margin-left: auto;
    letter-spacing: 0.04em;
    font-size: 1.1rem;
}

.nav-container > a {
    padding: 0.5em 0.5em;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 22px;
    position: relative;
}

#curPage {
    position: relative;
    display: inline-block;
    margin: 0;
}

#curPage::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 2px;
    border-radius: 3px;
    background-color: var(--c-main);
    bottom: -4px;
    left: -10%;
}

.promo-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 89%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow:
            0 8px 12px 6px rgba(0, 0, 0, 0.15),
            0 4px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--c-accent);
    outline: 5px dotted var(--c-subtext);
}

.promo-block > h1 {
    margin-top: 55px;
    margin-bottom: 0;
    font-size: 5.8em;
    color: var(--c-main);
}

.promo-block > h2 {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 4.8em;
    color: var(--c-subtext);
}

.beans-image {
    position: absolute;
    max-width: 120px;
    height: auto;
    left: 30px;
    top: -70px;
}

.flash {
    animation: flash 5s ease-in-out infinite;
}

@keyframes flash {
    0%, 100% {
        color: var(--c-main);
    }
    50% {
        color: var(--c-hover);
    }
}

.menu-sample {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.menu-sample > h1 {
    font-size: 4.8em;
    color: var(--c-main);
    letter-spacing: 0.02em;
}

.menu-nav {
    display: flex;
    justify-content: center;
    gap: 8em;
    margin-top: 38px;
}

.menu-nav > label {
    font-size: 2.5em;
    color: var(--c-main);
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s;
}

.menu-sample input[type="radio"] {
    display: none;
}

#coffee-tab:checked ~ .menu-nav label[for="coffee-tab"],
#noncoffee-tab:checked ~ .menu-nav label[for="noncoffee-tab"],
#pastries-tab:checked ~ .menu-nav label[for="pastries-tab"] {
    opacity: 1;
    border-bottom: 3px solid var(--c-main);
}

.menu-content .menu-sample-row {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: -40px;
}

#coffee-tab:checked ~ .menu-content .coffee,
#noncoffee-tab:checked ~ .menu-content .noncoffee,
#pastries-tab:checked ~ .menu-content .pastries {
    display: flex;
}

.menu-sample-item {
    display: flex;
    flex-direction: column;
    outline: 5px solid var(--c-subtext);
    border-radius: 20px;
    margin: 10px;
    width: 20%;
    height: 30%;
    padding: 40px 40px 10px;
    box-shadow:
            0 8px 12px 6px rgba(0, 0, 0, 0.15),
            0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.menu-sample-item > h2 {
    font-size: 2.5em;
    color: var(--c-main);
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu-sample-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px;
    outline: 5px solid var(--c-subtext);
}

#caramelWhipccino {
    font-size: 2.05em;
    color: var(--c-main);
    margin-top: 25px;
    margin-bottom: 14px;
}

#strawberryShortcake {
    font-size: 2em;
    color: var(--c-main);
    margin-top: 25px;
    margin-bottom: 15px;
}

#whipTopBrownie {
    font-size: 2.05em;
    color: var(--c-main);
    margin-top: 25px;
    margin-bottom: 14px;
}

.contact-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--c-main);
    border-radius: 25px;
    width: 89%;
    margin: 150px auto;
}

.contact-block > img {
    width: 48%;
    height: auto;
    border-radius: 20px;
    margin: 45px 45px 45px 0;
}

.contact-block .info {
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    padding: 45px;
    gap: 50px;
}

.contact-block .info .info-entry {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.contact-block .info .info-entry .icon {
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: var(--c-accent);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
}

.contact-block .info .info-entry .icon > img {
    width: 60px;
    height: 60px;
}

.contact-block .info .info-entry .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-block .info .info-entry h1 {
    font-size: 3.5em;
    letter-spacing: 0.02em;
    margin: -3px 0 0;
}

.contact-block .info .info-entry span {
    font-size: 2.5em;
    letter-spacing: 0.02em;
    margin: -3px 0 0;
}

.footer {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--c-main);
    border-radius: 25px 25px 0 0;
    width: 100%;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}

.footer > a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer > a > img {
    height: 4.6em;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding-right: 0.9em;
}

.footer > a > h1 {
    font-size: 2.2rem;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.footer > h3 {
    margin-left: auto;
}

.foot-nav-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 4em;
    align-items: center;
}

.foot-nav-container > a {
    text-decoration: none;
}
